<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
            <h1>Here is NASA's image of the day!</h1>    
            
            <h3>{{data['title']}}</h3>

            {% if data['media_type'] == "video" %}

            <iframe width="420" height="315" src="{{data['url']}}"> </iframe>
                        
            {% else %}
                        
            <img class="aotd-img" src="{{data['url']}}">
                    
            {% endif %}

            <p>{{data['explanation']}}</p>

    </body>
</html>